button {
  cursor: pointer;
}

.game-type-button {
  min-width: 200px;
  min-height: 200px;
  margin: 0 50px;
  background-color: orangered;
  border: 6px solid;
  border-radius: 20px;
  opacity: 0.7;
}

.game-type-button:hover {
  border-color: black;
  opacity: 0.85;
}

.new-game-button {
  width: 200px;
  height: 200px;
  margin: 100px auto 10px;
  padding:8px 18px;
  background: #F56200;
  background: -moz-linear-gradient(#F56200 0%,#FEBB49 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#F56200),color-stop(100%,#FEBB49));
  background: -webkit-linear-gradient(#F56200 0%,#FEBB49 100%);
  background: -o-linear-gradient(#F56200 0%,#FEBB49 100%);
  background: -ms-linear-gradient(#F56200 0%,#FEBB49 100%);
  background: linear-gradient(#F56200 0%,#FEBB49 100%);
  border: 3px solid black;
  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#F56200',endColorstr='#FEBB49',GradientType=0);
  font-family: monospace;
  font-size: 36px;
  font-weight: bold;
}

.home-page-button {
  position: absolute;
  right: 20px;
  bottom: 20px;
  padding:8px 18px;
  background: #F56200;
  background: -moz-linear-gradient(#F56200 0%,#FEBB49 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#F56200),color-stop(100%,#FEBB49));
  background: -webkit-linear-gradient(#F56200 0%,#FEBB49 100%);
  background: -o-linear-gradient(#F56200 0%,#FEBB49 100%);
  background: -ms-linear-gradient(#F56200 0%,#FEBB49 100%);
  background: linear-gradient(#F56200 0%,#FEBB49 100%);
  border: 3px solid black;
  border-radius:48px;
  -moz-border-radius:48px;
  -webkit-border-radius:48px;
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#F56200',endColorstr='#FEBB49',GradientType=0);
  font-family:'Helvetica Neue',sans-serif;
  font-size:16px;
  font-weight: bold;
  color:#623F1D;
}

.home-page-button:hover {
  background: orangered;
  background: -moz-linear-gradient(orangered 0%,darkorange 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,orangered),color-stop(100%,darkorange));
  background: -webkit-linear-gradient(orangered 0%,darkorange 100%);
  background: -o-linear-gradient(orangered 0%,darkorange 100%);
  background: -ms-linear-gradient(orangered 0%,darkorange 100%);
  background: linear-gradient(orangered 0%,darkorange 100%);
}

.image-button {
  height: 145px;
}