.compare-hands-section {
  position: relative;
  top: 14%;
  display: flex;
  justify-content: center;
  margin: 0 10%;
}

.compare-hands-section--mobile {
  justify-content: space-around;
}

.compare-hands-section__hand {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 50px 30px;
  min-width: 150px;
  padding: 0 50px 30px;
  background: firebrick;
  border: 3px solid black;
  /* height: 100%; */
  background: -moz-linear-gradient(firebrick 0%, darkorange 100%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, firebrick),
    color-stop(100%, darkorange)
  );
  background: -webkit-linear-gradient(firebrick 0%, darkorange 100%);
  background: -o-linear-gradient(firebrick 0%, darkorange 100%);
  background: -ms-linear-gradient(firebrick 0%, darkorange 100%);
  background: linear-gradient(firebrick 0%, darkorange 100%);
}

.compare-hands-section__hand--mobile {
  margin: 10px;
  padding: 0 10px 30px;
}

.compare-hands-section__hand-heading {
  white-space: nowrap;
}

.compare-hands-section__hand-image--mobile {
  width: 96px;
  height: 96px;
}

.static {
  position: static;
}
