.App {
  display: flex;
  flex-direction: column;

  text-align: center;
  background-image: url("/images/rps_background.jpg");
  background-size: cover;
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
}

.App__intro-heading {
  margin: 140px 0 40px;
}

.App__type-game-button {
  min-width: 200px;
  min-height: 200px;
  background-color: orangered;
  border: 6px solid;
  border-radius: 20px;
  opacity: 0.7;
  margin: 0 50px;
  cursor: pointer;
}

.App__type-game-button:hover {
  opacity: 0.85;
  border-color: black;
}

.home-page-button {
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -95px;
  background: #F56200;
  background: -moz-linear-gradient(top,#F56200 0%,#FEBB49 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#F56200),color-stop(100%,#FEBB49));
  background: -webkit-linear-gradient(top,#F56200 0%,#FEBB49 100%);
  background: -o-linear-gradient(top,#F56200 0%,#FEBB49 100%);
  background: -ms-linear-gradient(top,#F56200 0%,#FEBB49 100%);
  background: linear-gradient(top,#F56200 0%,#FEBB49 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#F56200',endColorstr='#FEBB49',GradientType=0);
  padding:8px 18px;
  color:#623F1D;
  font-family:'Helvetica Neue',sans-serif;
  font-size:16px;
  font-weight: bold;
  border-radius:48px;
  -moz-border-radius:48px;
  -webkit-border-radius:48px;
  border: 3px solid black;
  cursor: pointer;
}

.home-page-button:hover {
  background: orangered;
  background: -moz-linear-gradient(top,orangered 0%,darkorange 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,orangered),color-stop(100%,darkorange));
  background: -webkit-linear-gradient(top,orangered 0%,darkorange 100%);
  background: -o-linear-gradient(top,orangered 0%,darkorange 100%);
  background: -ms-linear-gradient(top,orangered 0%,darkorange 100%);
  background: linear-gradient(top,orangered 0%,darkorange 100%);
}

.App__chose-hands {
  position: relative;
  top: 12%;
}

.App__compare-hands {
  position: relative;
  top: 14%;
  display: flex;
  justify-content: space-around;
  margin: 0 10%;
}

.App__compare-hands-hand {
  width: 100%;
  margin: 10px;
  background: firebrick;
  border: 3px solid black;
  padding-bottom: 10px;
  height: 100%;
  background: -moz-linear-gradient(top,firebrick 0%,darkorange 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,firebrick),color-stop(100%,darkorange));
  background: -webkit-linear-gradient(top,firebrick 0%,darkorange 100%);
  background: -o-linear-gradient(top,firebrick 0%,darkorange 100%);
  background: -ms-linear-gradient(top,firebrick 0%,darkorange 100%);
  background: linear-gradient(top,firebrick 0%,darkorange 100%);
}

.App__results {
  position: relative;
  top: 14%;
  color: wheat;
  font-size: 32px;
  font-family: fantasy;
  font-weight: bold;
  text-shadow: 4px 4px 4px black;
}